{% extends "tiendaApp/base.html" %}
{% load static %}


{% block contenido %}
  <div class="row">
    <div class="col">
        <h2>Mantenedor de Clientes</h2>
        <form method="post" action="{% url 'clienteEditado' cliente.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <img src="{{ cliente.foto.url }}" alt="foto del cliente" 
                    width="200" height="auto" >
                    <label for="foto">Fotografia del cliente</label>
                    <input type="file" name="foto" class="form-control">
                </div>
                <div class="col-3 mb-3">
                    {{ form.run.label_tag }}
                    {{ form.run }}
                    {{ form.run.errors }}
                </div>
                <div class="col-3 mb-3">
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                    {{ form.nombre.errors }}
                </div>
                <div class="col-3 mb-3">
                    {{ form.paterno.label_tag }}
                    {{ form.paterno }}
                    {{ form.paterno.errors }}
                </div>
                <div class="col-3 mb-3">
                    {{ form.materno.label_tag }}
                    {{ form.materno }}
                    {{ form.materno.errors }}
                </div>
                <div class="col-3 mb-3">
                    {{ form.sexo.label_tag }}
                    {{ form.sexo }}
                    {{ form.sexo.errors }}
                </div>
                <div class="col-3 mb-3">
                    {{ form.sueldo.label_tag }}
                    {{ form.sueldo }}
                    <span class="text-danger">
                        {{ form.sueldo.errors }}
                    </span>
                </div>
                <div class="col-3 mb-3">
                    <label for="id_fechaNac">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" name="fechaNac" 
                    value="{{ form.fechaNac.value|date:'Y-m-d' }}">
                    {{ form.fechaNac.errors }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" href="{% url 'inicio' %}">Ir al Inicio</a>
                </div>
                <div class="col">
                    <button class="btn btn-warning" type="submit">Modificar</button>
                </div>
                <div class="col text-center">
                    <a href="{% url 'clienteDel' cliente.id %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </form>

    </div>
  </div>
{% endblock contenido %}