{% extends "tiendaApp/base.html" %}

{% block contenido %}
<div class="row">
    <div class="col">
        <a class="btn btn-success" href="{% url 'empleado' %}"><i class="bi bi-person-plus-fill"></i>Agregar Empleado</a>
    </div>
    <div class="col-md-6">
        <input type="text" id="searchInput" class="form-control" placeholder="Buscar empleado...">
    </div>
</div>

  <div class="row">
    <div class="col">
        <table class="table table-dark table-striped mt-3">
            <thead>
                <tr>
                    <th>RUN</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Genero</th>
                    <th>Código Emp.</th>
                    <th>Sueldo</th>
                    <th>Fecha Nac.</th>
                    <th>Cargo</th>
                    <th>Departamento</th>
                    <th>Fotografia</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for empleado in empleados %}
                <tr  class="empleado-row">
                    <td>{{ empleado.run }}</td>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.paterno }}</td>
                    <td>{{ empleado.materno }}</td>
                    <td>{{ empleado.sexo }}</td>
                    <td>{{ empleado.codigoEmpleado }}</td>
                    <td>{{ empleado.sueldo }}</td>
                    <td>{{ empleado.fechaNac }}</td>
                    <td>{{ empleado.cargo }}</td>
                    <td>{{ empleado.departamento }}</td>
                    <td>
                        {% if empleado.foto %}
                          <img src="{{ empleado.foto.url }}" alt="fotito dl empleado" width="50" height="50">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'detalleEmpleado' empleado.id %}" class="btn btn-sm btn-warning text-dark text-decoration-none">
                            <i class="bi bi-eye"></i> Ver
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const rows = document.getElementsByClassName('empleado-row');
    
        searchInput.addEventListener('keyup', function() {
            const searchTerm = searchInput.value.toLowerCase();
    
            Array.from(rows).forEach(row => {
                let text = '';
                // Obtenemos el texto de las primeras 5 columnas
                for(let i = 0; i < 10; i++) {
                    text += row.cells[i].textContent.toLowerCase() + ' ';
                }
                
                if(text.includes(searchTerm)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });
    </script>
{% endblock contenido %}

